.toolbar {
    display: flex;
    width: auto;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
}

.left {
    justify-content: flex-start;
    width: 30%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    width: 30%;
    justify-content: flex-end;
    display: flex;
    margin-left: 20px;
}

.route {
    text-decoration: none;
    color: white;
}

.user {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.2rem;
    height: 20px;
}

.role {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: end;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}