.toolbar {
    width: auto;
    border-radius: 10px;
    margin: 10px;
}

.container {
    display: flex;
    width: 100%;
}

.route {
    text-decoration: none;
    color: white;
}

.itens {
    margin-left: auto;
}

.user {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.2rem;
    height: 20px;
}

.role {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: end;
}