<mat-toolbar color="primary" class="toolbar">
    @if(isLoggedIn()) {
        <div class="left">
            <button mat-button routerLink="/clientes" *ngIf="isAdmin()">
                <span>Clientes</span>
            </button>
            <button mat-button routerLink="/historico" *ngIf="isAdmin()">
                <span>Histórico de consulta</span>
            </button>
            <button mat-button *ngIf="isUser()" [matMenuTriggerFor]="menuConsulta">                
                <span>Consulta</span>
                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menuConsulta="matMenu">
                <button routerLink="/consulta/online" mat-menu-item>
                    <span>Online</span>
                </button>
                <button routerLink="/consulta/lote" mat-menu-item>
                    <span>Lote</span>
                </button>      
                <button routerLink="/historico" mat-menu-item *ngIf="!isAdmin()">
                    <span>Histórico de consulta</span>
                </button>
            </mat-menu>
        </div>
        <div class="center" *ngIf="profilesList">        
            @if (isUser()) {
                <a [matMenuTriggerFor]="menuProfile">
                    <div class="user">
                            {{profileSelected}}
                    </div>
                </a>
                <mat-menu #menuProfile="matMenu">
                    @for (profile of profilesList; track profile) {
                        <button mat-menu-item (click)="setProfile(profile.profileName!)">
                            <mat-icon>person</mat-icon>
                            <span>{{profile.profileName}}</span>
                        </button>
                    }
                    <button mat-menu-item (click)="openUsersDialog()">
                        <mat-icon>manage_accounts</mat-icon>
                        <span>Gerenciar</span>
                    </button>       
                </mat-menu>
            }            
        </div>
        <div class="right" *ngIf="authService.getUserDetail() as userDetail">
            @if (isUser()) {
                <div class="credits" *ngIf="credits$ | async as credit">
                    <span class="name">Cŕeditos</span>
                    <span class="role">{{ credit.amount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>            
                </div>
            }            
            <div>
                <a [matMenuTriggerFor]="menuConta">
                    <div class="user">
                        <span class="name">
                            {{userDetail?.fullName}}
                        </span>
                        <span class="role">
                            {{userDetail?.roles}}
                        </span>
                    </div>
                </a>
                <mat-menu #menuConta="matMenu" xPosition="before">
                    <button routerLink="/conta" mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>Perfil</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Deslogar</span>
                    </button>                
                </mat-menu>
            </div>            
        </div>        
    }
    @else{
        <div class="left"></div>
        <div class="center"></div>
        <div class="right">                    
            <a mat-button routerLink="/login" class="route">
                Entrar
            </a>
        </div>
    }
</mat-toolbar>