mat-toolbar {
    background-color: white;
}

#title {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
}

#title img {
    width: 140px;
}