
:host {
    display: flex;
    justify-content: center;
}

mat-card {
    /* mat-elevation nao esta funcionando */
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.6);
    margin: 30px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card-title {
    padding: 20px;
    margin-bottom: 20px;
}

mat-form-field {
    margin-bottom: 15px;
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.login-button {
    float: right;
}