<mat-card>
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-content>
        <form class="form" [formGroup]="form" (ngSubmit)="register()">
            @for(error of errors; track error) {
                <div class="errors">
                    {{error.description}}
                </div>
            }
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. nome@email.com">
                <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                    Insira um email válido
                </mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                    O campo email é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nome completo</mat-label>
                <input type="text" matInput formControlName="fullName">
                <mat-error *ngIf="form.controls['fullName'].hasError('required')">
                    Nome completo é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nº Documento</mat-label>
                <input type="text" matInput formControlName="document" mask="CPF_CNPJ">
                <mat-error *ngIf="form.controls['document'].hasError('required')">
                    Nº do documento é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Função</mat-label>
                <mat-select multiple formControlName="roles">
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="User">User</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['roles'].hasError('required')">
                    <strong>obrigatório</strong> selecionar a função!
                </mat-error>
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input [type]="pwdHide ? 'password' : 'text'" matInput formControlName="password">
                <mat-error *ngIf="form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('required')">
                A senha deve ter no mínimo 8 caracteres
                </mat-error>
                <mat-error *ngIf="form.controls['password'].hasError('required')">
                O campo senha é <strong>obrigatório</strong>
                </mat-error>
                <mat-icon (click)="pwdHide = !pwdHide" matSuffix>
                    {{ pwdHide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirmar Senha</mat-label>
                <input [type]="confirmPwdHide ? 'password' : 'text'" matInput formControlName="confirmPassword">
                
                <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
                    O campo senha é <strong>obrigatório</strong>
                </mat-error>
                
                <mat-error *ngIf="form.controls['confirmPassword'].hasError('minlength') && !form.controls['confirmPassword'].hasError('required')">
                A senha deve ter no mínimo 8 caracteres
                </mat-error>                
                
                <mat-icon (click)="confirmPwdHide = !confirmPwdHide" matSuffix>
                    {{ confirmPwdHide ? 'visibility_off' : 'visibility'}}
                </mat-icon>

                <span class="mat-error-mismatch" *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.touched">
                    As senhas não correspondem
                </span> 
            </mat-form-field>                    
            
            <button class="login-button" type="submit" mat-button [disabled]="!form.valid">
                Cadastrar
            </button>                
        </form>
    </mat-card-content>
</mat-card>
