<mat-card>
    @if (isLoadingResults) {
        <div class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>
    }
    <mat-card-header>
        <mat-card-title>Consulta lote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="selection-bar" *ngIf="sales$ | async as sales">            
            <mat-form-field>
                <mat-label>Selecione o produto</mat-label>
                <mat-select [formControl]="saleControl" required>
                @for (sale of sales; track sale) {
                    <mat-option [value]="sale">{{sale.saleName}}</mat-option>
                }
                </mat-select>
                <mat-hint *ngIf="saleControl?.value">{{saleControl.value?.productName}} | {{ saleControl.value?.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}/consulta</mat-hint>
                @if (saleControl.hasError('required')) {
                <mat-error>Obrigatório</mat-error>
                }
            </mat-form-field>
            <button [disabled]="form.invalid" mat-flat-button color="primary" type="button" (click)="openNovaConsultaDialog(saleControl.value!)"> 
                <span>Novo lote</span>
            </button>
            <button id="att-situacoes" mat-flat-button color="primary" type="button" (click)="refreshLotes()"> 
                <mat-icon matSuffix>refresh</mat-icon>
                Atualizar
            </button>
        </form>
        <div class="example-table-container">
            <table mat-table [dataSource]="data" class="example-table">
                <!-- Register Date Column -->
                <ng-container matColumnDef="registerDate">
                    <th mat-header-cell *matHeaderCellDef> Data de cadastro </th>
                    <td mat-cell *matCellDef="let element"> {{element.registerDate | date: 'dd/MM/yyyy HH:mm' }} </td>
                </ng-container>

                <!-- Profile Column -->
                <ng-container matColumnDef="profile">
                    <th mat-header-cell *matHeaderCellDef> Usuário </th>
                    <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
                </ng-container>

                <!-- Start Date Column -->
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Data início processamento </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'dd/MM/yyyy HH:mm' }} </td>
                </ng-container>
            
                <!-- End Date Column -->
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> Data fim processamento </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.status === 'Processando' ? '-' : element.endDate | date: 'dd/MM/yyyy HH:mm' }}
                    </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantidade de documentos </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>
            
                <!-- Concluded Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Situação </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </mat-card-content>
</mat-card>