mat-card {
    /* mat-elevation nao esta funcionando */
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
    margin: 30px;
}

mat-hint {
    text-wrap: nowrap;
}

.selection-bar {
    margin: 15px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.selection-bar button {
    margin-top: 10px;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-details {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    border: 2px solid rgba(51, 51, 51, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.nome-fantasia {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-row p {
    flex: 1;
    margin: 0 10px;
}

.header img {
    width: 200px;
    margin-right: 5%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.content p {
    width: 50%; /* Each paragraph takes up half the width of the container */
    margin: 5px 0;
}

ul {
    padding-left: 20px;
    margin: 0;
}

ul li {
    list-style-type: disc;
    margin-left: 20px;
}

.socios ul {
    list-style-type: none;
    padding-left: 0;
}

.socios li {
    margin-bottom: 5px;
}

.section-title {
    font-weight: bold;
    margin: 15px 0px;
    font-size: 1.3rem;
}
